<div class="container">
    <table class="table table-bordered">
            <thead class="thead-dark">
                    <tr>
                        <th>OrderId</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Amount</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ order.orderId }}</td>
                            <td>
                                <a routerLink="/book/{{ order.item.book.bookId }}">
                                    <img src="{{ order.item.book.imageUrl }}" class="img-responsive"
                                       style="width: 70px; height: 90px"/>
                                </a>
                            </td>
                            <td>{{ order.item.book.title }}</td>
                            <td>{{ order.item.quantity }}</td>
                            <td>{{ order.item.book.price | currency: "INR" }}</td>
                            <td>{{ order.item.book.price * order.item.quantity | currency:"INR"}}</td>
                            <td>{{ order.orderPlacedDate | date }}</td>
                            <td>{{ order.deliveryDate | date }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    </tbody>
    </table>
</div>

